

<router-outlet></router-outlet>




<button pButton pRipple label="Submit" class="p-button-success"></button>
<button pButton pRipple label="Submit" class="p-button-success"></button>
<button pButton pRipple label="Submit" class="p-button-success"></button>
<button pButton pRipple label="Submit" class="p-button-success"></button>
<button pButton pRipple label="Submit" class="p-button-success"></button>
<button pButton pRipple label="Submit" class="p-button-success"></button>


<p-button label="Primary"></p-button>
<p-button label="Secondary" styleClass="p-button-secondary"></p-button>
<p-button label="Success" styleClass="p-button-success"></p-button>
<p-button label="Info" styleClass="p-button-info"></p-button>
<p-button label="Warning" styleClass="p-button-warning"></p-button>
<p-button label="Help" styleClass="p-button-help"></p-button>
<p-button label="Danger" styleClass="p-button-danger"></p-button>



<p-calendar formControlName="date"></p-calendar>

<br>

<!-- <div class="p-field p-col-12 p-md-4">
  <label for="range">Range</label>
  <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
</div> -->


<p-table [value]="products" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="code" >Code <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="name" >Name <p-sortIcon field="code"></p-sortIcon></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
      </tr>
  </ng-template>
</p-table>

<br>

<p-accordion>
  <p-accordionTab header="Header 1" [selected]="true">
     Content 1
  </p-accordionTab>
  <p-accordionTab header="Header 2">
      Content 2
  </p-accordionTab>
  <p-accordionTab header="Header 3">
      Content 3    
  </p-accordionTab>
</p-accordion>

<br>
<br>

<p-tabView>
  <p-tabPanel header="Header 1">
     Content 1
  </p-tabPanel>
  <p-tabPanel header="Header 2">
      Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
      Content 3
  </p-tabPanel>
</p-tabView>


<br><br><br><br>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<button (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button>